.cache/
.ccls-cache/

compile_commands.json

.tags*

build*/

# pixi
.pixi/
pixi.lock

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.so
*.pyd
.pytest_cache/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
